html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: $headerHeight;
  
  body{
    background-color: $cinza;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
  
  main{
    margin-top: $headerHeight;
  }

  .defaultButton{
    width: fit-content;
    display: block;
    padding: 8px 12px;
    background-color: $azul2;
    color: $cinza;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 90%;
  }
  
  .header{
    height: $headerHeight;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $cinza;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
  
    @include media-breakpoint-up(lg) {
      padding: 24px 0;
    }
  
    &_nav{
      position: fixed;
      background-color: $azul1;
      top: $headerHeight;
      right: -255px;
      width: 255px;
      padding: 12px 0;
      transition: 0.3s ease-in-out;

      @include media-breakpoint-up(lg){
        position: relative;
        width: 75%;
        background-color: unset;
        right: unset;
        top: unset;
        padding: 0 12px;
        align-items: center;
        justify-content: space-between;

      }
      
      ul{
        margin: 0;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg){
          flex-direction: row;
          gap: 16px;
          justify-content: center;
        }
        
        li{
          text-align: center;
          
          a{
            display: block;
            margin: 0;
            border-bottom: 2px solid $azul1;
            padding: 8px 4px;
            color: $preto;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            color: $azul1;

            @include media-breakpoint-up(lg){
              border: 2px solid $azul1;
              color: $preto;
              padding: 8px;
            }

          }
        }
      }

      &__socials{
        margin-top: 12px !important;

        @include media-breakpoint-up(lg){
          margin-top: 0 !important;
          flex-direction: column !important;
          gap: 6px !important;
        }
        li{
          a{
            border-bottom: none !important;
            font-size: 10px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center;
            gap: 4px;
            line-height: 100%;
            
            @include media-breakpoint-up(lg){
              border: none !important;
              padding: 0 !important;
              justify-content: flex-start;
            }

            i{
              font-size: 14px !important;
            }
          }
        }
      }

      &--open{
        background-color: $azul2;
        right: -0px;

        ul{
          li{
            a{
              color: $azul1;
            }
          }
        }


      }

  
      &__toggle{
        position: absolute;
        display: flex;
        align-items: center; justify-content: center;
        height: 100%;
        width: auto;
        top: 0;
        right: 0;
        aspect-ratio: 1 / 1;
        background-color: $azul1;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        span{
          font-size: 70px;
          line-height: 100%;
          color: $azul2;
          transition: 0.3s ease-in-out;
        }
  
        &--open{
          background-color: $azul2;
  
          span{
            transform: rotate(45deg);
            color: $azul1;
          }
        }
  
        
      }
    }
  }

  .hero{
    padding: 80px 0;
    background-image: url('../img/hero_bg.jpg');
    text-align: center;
    background-position: center;

    @include media-breakpoint-up(lg) {
      padding: 120px 0;
    }

    .defaultButton{
      margin: auto;
      margin-top: 80px;
      
      @include media-breakpoint-up(lg) {
        margin-top: 120px;
      }
    }

    h1{
      color: $azul1;

      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }
  }

  .about{
    padding: 32px 0;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding: 48px 0;
    }

    &_title{
      text-align: center;
      margin-bottom: 1rem;
      
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        position: sticky;
        height: fit-content;
        top: calc($headerHeight + 1rem);
      }
      img{
        margin-top: 20px;
        max-width: 80%; height: auto;

        @include media-breakpoint-up(lg) {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &_text{
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
      *{
        color: $preto;
      }
    }

  }
}

