html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: $headerHeight;
  
  body{
    background-color: $cinza;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
  
  main{
    margin-top: $headerHeight;
  }

  .defaultButton{
    width: fit-content;
    display: block;
    padding: 8px 12px;
    background-color: $azul2;
    color: $cinza;
    text-decoration: none;
    text-transform: uppercase;
    border:none;
    outline: none;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 90%;
  }

  .floatButton-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #03BA39;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    a{
      text-decoration: none;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      i{
        font-size: 32px;
        color: $cinza;

        @include media-breakpoint-up(lg) {
          font-size: 40px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      width: 80px;
      height: 80px;

      a span{
        display: block; // Show text on larger screens
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }
  
  .header{
    height: $headerHeight;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $cinza;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
  
    @include media-breakpoint-up(lg) {
      padding: 24px 0;
    }
  
    &_nav{
      position: fixed;
      background-color: $azul1;
      top: $headerHeight;
      right: -255px;
      width: 255px;
      padding: 12px 0;
      transition: 0.3s ease-in-out;

      @include media-breakpoint-up(lg){
        position: relative;
        width: 75%;
        background-color: unset;
        right: unset;
        top: unset;
        padding: 0 12px;
        align-items: center;
        justify-content: end;        
      }
      
      @include media-breakpoint-up(xxl){
        justify-content: space-evenly;
      }
      
      ul{
        margin: 0;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg){
          flex-direction: row;
          gap: 16px;
          justify-content: center;
        }
        
        li{
          text-align: center;
          
          a{
            display: block;
            margin: 0;
            border-bottom: 2px solid $azul1;
            padding: 8px 4px;
            color: $preto;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            color: $azul1;

            @include media-breakpoint-up(lg){
              border: 2px solid $azul1;
              color: $preto;
              padding: 8px;
            }

          }
        }
      }

      &__socials{
        margin-top: 12px !important;

        @include media-breakpoint-up(lg){
          margin-top: 0 !important;
          flex-direction: column !important;
          gap: 6px !important;
          display: none !important;
        }

        @include media-breakpoint-up(xxl){
          display: flex !important;
        }
        li{
          i{
            color: $azul1;

            @include media-breakpoint-up(lg){
              color: $preto;
            }
          }
          a{
            border-bottom: none !important;
            font-size: 10px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center;
            gap: 4px;
            line-height: 100%;
            
            @include media-breakpoint-up(lg){
              border: none !important;
              padding: 0 !important;
              justify-content: flex-start;
            }

            i{
              font-size: 14px !important;
            }
          }
        }
      }

      &--open{
        background-color: $azul2;
        right: -0px;

        ul{
          li{
            a{
              color: $azul1;
            }
          }
        }


      }

  
      &__toggle{
        position: absolute;
        display: flex;
        align-items: center; justify-content: center;
        height: 100%;
        width: auto;
        top: 0;
        right: 0;
        aspect-ratio: 1 / 1;
        background-color: $azul1;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        span{
          font-size: 70px;
          line-height: 100%;
          color: $azul2;
          transition: 0.3s ease-in-out;
        }
  
        &--open{
          background-color: $azul2;
  
          span{
            transform: rotate(45deg);
            color: $azul1;
          }
        }
  
        
      }
    }
  }

  .hero{
    padding: 80px 0;
    text-align: center;
    background-position: center;

    @include media-breakpoint-up(lg) {
      padding: 120px 0;
    }

    .defaultButton{
      margin: auto;
      margin-top: 80px;
      
      @include media-breakpoint-up(lg) {
        margin-top: 120px;
      }
    }

    h1{
      color: $azul1;

      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }
  }

  .about{
    padding: 32px 0;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding: 48px 0;
    }

    &_title{
      text-align: center;
      margin-bottom: 1rem;
      
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        position: sticky;
        height: fit-content;
        top: calc($headerHeight + 1rem);
      }
      img{
        margin-top: 20px;
        max-width: 80%; height: auto;

        @include media-breakpoint-up(lg) {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &_text{
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
      *{
        color: $preto;
      }
    }

  }

  .break{
    background-image: url('../img/break.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    
    @include media-breakpoint-up(lg) {
      padding: 200px 0;
      background-position: center;
    }

    h5{
      color: $cinza;

      @include media-breakpoint-up(lg) {
        font-size: 28px;
        text-align: center;
      }
    }

    h6:not(.h6){
      margin:0;
      margin-top: 16px;
      color: $cinza;
      font-weight: 400;

      font-style: italic;

      @include media-breakpoint-up(lg) {
        font-size: 28px;
        margin-top: 24px;
        text-align: center;
      }
    }

  }

  .expertises{
    padding: 48px 0;
    background-color: #ffffff;

    &_card{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      
      @include media-breakpoint-up(lg) {
        padding: 30px 26px;
      }
      
      &__title{
        display: flex;
        align-items: center;
        gap: 10px;
        
        i{
          font-size: 35px;
          line-height: 100%;
        }

        h3{
          color: $preto;
          text-align: left;
          margin-bottom: 0;
        }
      }

      &__content{
        > *:last-child{
          margin-bottom: 0;
        }
      }

      .defaultButton{
        margin-bottom: 0;
      }
      
    }

  }

  .testimonials{
    padding: 48px 0;
    overflow: hidden;

    h2{
      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }

    .swiper{
      overflow: visible;
    }

    .item{
      background-color: $azul1;
      border-radius: 20px;
      padding: 16px;
      width: 320px;
      height: 190px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        width: 370px;
        height: 220px;
        padding: 24px;
      }

      p{
        font-style: italic;
        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
      }

      &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3{
          margin: 0;
          color: $preto;
          letter-spacing: 1px;
        }
      }
    }
  }

  .contact{
    background-color: $azul1;
    padding: 20px 0;

    @include media-breakpoint-up(lg) {
      padding: 60px 0;
    }
    
    &_title{

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        position: sticky;
        height: fit-content;
        top: calc($headerHeight + 1rem);
      }

      h2{
        @include media-breakpoint-up(lg) {
          text-align: right;
        }
      }
      svg{
        display: block;
        margin: 20px auto;
        max-width: 80%;

        @include media-breakpoint-up(lg) {
          max-width: 280px;
          margin: 28px 0;
          margin-left: auto;
        }
      }
    }

    &_text{
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }

      h3{
        color: $preto;
      }
    }

    &_form{
      label{
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
        span{
          color: $azul2;
          font-weight: 700;
          font-weight: 600;
        }
        input, textarea{
          border: 1px solid $azul2;
          padding: 3px 8px;
          color: $preto;
          letter-spacing: 1px;
          font-weight: 500;
          height: 30px;
          width: 100%;
        }
        textarea{
          height: 170px ;
        }

      }
      .defaultButton{
        width: 100%;
      }
    }
  }

  .footer{
    background-color: $preto;
    color: $cinza !important;
    text-align: center;

    img{
      filter: brightness(0) invert(1);
      padding: 32px 0;
      max-width: 176px;
      margin: auto;
    }

    ul{
      li{
        a{
          color: #ffffff;
          text-decoration: none;
          margin-bottom: 8px;
          font-size: 10px;

          i{
            color: #ffffff;
            margin-right: 4px;
          }
        }
      }
    }
  }
}

